.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.nav-list {
  display: none;
}
@media screen and (min-width: 601px) {
  .nav-list {
    display: flex;
    justify-content: center
  }
}
.nav-title {
  margin-left: 12px;
}
.nav-burder {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 601px) {
  .nav-burder {
    display: none;
  }
}
.nav-item {
  width: 100px;
  text-align: center;
}
.content {
  height: 300px;
  display: flex;
  background-color: aliceblue;
}
.content .title {
  margin: auto;
  font-size: 40px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.main-container .list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}
@media screen and (min-width: 1201px) {
  .main-container .list {
    width: 1200px
  }
}
.main-container .item {
  padding: 12px;
  display: flex;
  flex-direction: column;
  width: inherit;
}
@media screen and (min-width: 601px) {
  .main-container .item {
    width: 45%
  }
}
@media screen and (min-width: 1201px) {
  .main-container .item {
    width: 276px
  }
}
.main-container .title {
  text-align: center;
  background-color: aliceblue;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
}